version: 2.1


jobs:
  build:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - restore_cache:
          key: v1-dependency-cache-{{ checksum "setup.py" }}-{{ checksum "Makefile" }}
      - run:
          name: install python dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make dev
      - save_cache:
          key: v1-dependency-cache-{{ checksum "setup.py" }}-{{ checksum "Makefile" }}
          paths:
            - "venv"
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            make test
      - setup_remote_docker:
          version: 19.03.13
      - run:
          name: deploy docker images
          command: |
            docker build . -t seqtolang
            sleep 90
            mkdir -p workspace
            docker run --env "SEQTOLANG_TEXT=$(jq .review_text sample_0.json)" --rm seqtolang >> workspace/resulte.txt
            cat workspace/resulte.txt
            pwd
            ls
      - persist_to_workspace:
          root: workspace
          paths:
            - resulte.txt

  build-translate:
    docker:
      - image: circleci/python:3.7
    steps:
      - attach_workspace:
          at: workspace
      - run:
          name: setup environment for translate
          command: |
            pip install torch torchvision torchaudio
            pip install transformers
      - run:
          name: write a traslation code 
          command: |
            echo "from transformers import pipeline
            translator = pipeline(\"translation_en_to_de\")
            text = \"Hello my friends! How are you doing today?\"
            translation = translator(text)
            print(translation)" > py.py
      - run:
          name: run 
          command: |
            python py.py
            ls
            pwd



workflows:
  build_and_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/ 
      - build-translate:
          requires:
            - build